/* CSS Document */
body{
		
  direction:rtl;
	margin:0;
	font-family:shabnam;
	}

	

.topnav{
	    width: 100%;
		height:6em;
		display:flex;
		position:static;
		margin-top:0;
		background-color: #fff;
		overflow: hidden;
		border-bottom: 5px solid;
-moz-border-image: -moz-linear-gradient(to right,#ff0613 0%,#dd0150 25%,#da4793 50%,#b9007e 75%,#8e00ab 100%);
-webkit-border-image: -webkit-linear-gradient(to right,#ff0613 0%,#dd0150 25%,#da4793 50%,#b9007e 75%,#8e00ab 100%);
border-image: linear-gradient(to right,#ff0613 0%,#dd0150 25%,#da4793 50%,#b9007e 75%,#8e00ab 100%);
border-image-slice: 1;

}

		
	
		
ul {
  list-style-type: none;
  margin:1.75em;
  padding:0;
  overflow: hidden;
  background-color: white;
  width:100%;
  
}

li {
  float:right;
  font-family:yekanfont;
  font-size:1.3em;
 
 
  
}

li a:hover{
	color:rgb(194,0,116);
}


li:first-child{
	 border-left:0.13em solid #bbb;
	 color:rgb(225,225,225);
	}
	
	
li a {
  display: block;
  color:rgb(102,107,114);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

 .pd{
	 padding-right:14px;
	 
	 }
 
li:last-child{
	float: left;
	background:url(../mocks/images.png);
	padding:0 0;
	width:9.1%;
	background-repeat:no-repeat;
	height:100%;
	}
	

.find{
    background-image:url(../mocks/pizzza2.jpg); 
    background-repeat:no-repeat;
   -webkit-background-size: contain;
   -moz-background-size:  contain;
   -o-background-size: contain;
    background-size:contain;
	position:relative;
	height:871px;
	direction:rtl;

	
	}
	
.reyhoonIntro{
	margin-top:100px;
	margin-right:550px;
	
	}
.intro{
	font-size: 1.75em;
	color: #000000;
	direction: rtl;
	margin-right:300px;
	font-weight:bold;
	position: relative;
	margin-top: 0px;
	padding-top:40px; 
 
	
}


.dis{
	font-size:0.75em;
	color:#5A5656;
	direction: rtl;
  margin-right:350px;
	margin-top:10px;
	position:relative;
	font-weight:bold;
     
	
	}
	
.inputfm{
	width:60%;
	height:80px;
	background-color: #FFFFFF;
	margin-right:100px;
	margin-top:70px;
	border-radius: 6px;
	position:absolute;
	}


input[type=submit] {
	width: 9%;
	height: 70px;
	color: white;
	border: none;
	border-radius: 6px 0px 0px 6px;
	cursor: pointer;
	float: left;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-left: 15px;
	background-image: linear-gradient(45deg, #d40062 0%, #ce0067 40%,#9200a7 100%);
	font-family: FontAwesome;
	font-size: 2.5em;
    display:inline-block;
}

input.location[type=text] {
	width: 72%;
	height: 70px;
	border: 1.5px solid #ccc;
	border-left: 0;
	outline: none;
	float: left;
	border-radius: 0px 6px 6px 0px;
	margin-top: 10px;
	margin-right: 0px;
	font-size: 1.75em;
	font-family: FontAwesome;
	padding-right:10px;	
  display:inline-block;

}

.disloc{
    color:#585858;
	background-color:white;
	margin-top:4.5px;
	margin-right:170px;	
	position:absolute;
	padding-left:20px;
	padding-right:10px;
	font-size:1em;
	font-weight:10%;

	}



input.city[type=text] {
	width: 13.5%;
	height: 66px;
	border: 1.5px solid #ccc;
	outline: none;
	float: left;
	border-radius: 6px;
	margin-top: 10px;
	font-size: 1.5em;
	margin-left: 3px;
	padding-right:4px;	
	font-family: FontAwesome;
	display:inline-block;
}

.prevlocation {
	font-family: FontAwesome;
	position:absolute;
	font-size:1em;
	margin-right:140px;
	margin-top:160px;
    color:#5A5656;
	text-decoration:underline;
	}

a.prevlocation:hover{
	 color:#e61578;
	}
	

.guide{
	width:100%;
	height:850px;
	background-color:#fafafa;
	position:absolute;
	
	}
	
	
.bigSquareGuide{
	direction: rtl;
	width: 360px;
	height: 190px;
	float: right;
	margin-right:8%;
	margin-top: 20px;
	background-color: #f9f9f9;
	padding-top: 5px;
	font-size: 1.25em;
	font-weight:bold;
	color: #9b9696;
	border-width:2px;
	border-color:#f2f2f2;
	position:relative;
	
	
     
	
	}
	
.smallSquareGuide{
	width: 350px;
	height: 150px;
	float: right;
	margin-top: 10px;
	border-radius: 4px;
	background-color: #f9f9f9;
	box-shadow: 5px 4px 10px  #dbdada;
	
	
	}
	
 .innerSquareDescription{
	 width:230px;
	 height:80px;
	 float:left;
	 margin-top:40px;
	 margin-left:15px;
	 background-color: #f9f9f9;
	 text-align:right;
	 color:#d1d1d1;
	 font-size:0.9em;
	 position:relative;
	 }
	 
	 
.innerSquareImage{
		width:80px;
		height:80px;
		margin-top:40px;
		margin-right:15px;	
		border-radius: 50%;
		position:absolute;
		
		}
		
.innerSquareIcon{
	width: 40px;
	height: 30px;
	background-image: linear-gradient(45deg, #d40062 0%, #ce0067 40%,#9200a7 100%);
	margin-top: 85px;
	margin-right: 15px;
	position: absolute;
	padding-top:10px;
	font-family: FontAwesome;
	text-align: center;
	font-size:1em;	
	color:#fff;
	border-radius:50%;
			
		}
		
		

.bestResMonthBody
{
	width:100%;
	height:500px;
	background:#f9f9f9;
	margin-top:350px;
}


.bestResMonthTopic{
	 
	 color:#000;
	 text-align:center;
	 font-size:1.75em;
	 font-weight:bold;
	 
	
	}
	
.bestResMonthSq{
	direction: rtl;
	width: 360px;
	height: 360px;
	float: right;
	margin-right:8%;
	margin-top: 20px;
	background-color: white;
	padding-top: 5px;
	font-size: 1.25em;
	font-weight:bold;
	color: #9b9696;
	border-width:2px;
	border-color:#f2f2f2;
	position:relative;
	box-shadow: 5px 4px 10px  #dbdada;
	text-decoration:none;
    text-align:center;
	
	}
	
/*.bestResMonthSq :hover {
		 box-shadow: 10px 10px 10px  #dbdada; 
		
		}*/


.bestRestMonthimg{
	width:90px;
	height:90px;
	margin-top:20px;
	box-shadow: 4px 4px 6px  #d6d5d5;
	text-align:center;
	}
	
	
.bestResMonthName{
	 color:#000;
	 text-align:center;
	 font-size:1.1em;
	 font-weight:bold;
	 margin-top:15px;

	}
	
.grayrating{
	color:#C9C9C9;
	font-size:0.5em;
	padding-top:5px;
   
	}
 
 
.numberrating{
	color:gold;
	
	}

.star{
	font-size:14px;
	color:gold;
	margin-top:5px;
	}	
	
.foodtype{
	margin-top:10px;
	font-size:0.8em;
	color:#848484;	
	}
.address{
	margin-top: 6px;
	font-size:0.8em;
	color: #A4A4A4;
	}
	
	
.pinkbutton {
  background-color:#FFFFFF;
  border-color:#E3269B;
  border-width:1.5px;
  color:#F5046D;
  padding: 6px 30px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 42px;
  font-size :0.8em;
  text-align:center;
  font-weight:bold;

}








.labelValue	
{
	color:yellow;
	font-size:1em;
	text-align:right;
	padding-right:15px;
	

	}



.goodResMainImg{
	background-image:url(../mocks/restaurant.jpg);
	background-size:cover;
	width:100%;
	height:680px;
	margin-top:850px;
	background-repeat:no-repeat;
	position:relative;
 
	}
	
 .goodResDes{
	   position:absolute;
	   margin-left:1000px;
		 margin-top:90px;
		 margin-right: 150px;
	   text-align:right;
	   font-size:1.5em;
	   font-weight:bold;
	   
	 }

.resContainer {
  display: flex;
  flex-wrap: wrap;
  float:right;
  width:640px;
  height:480px;
  margin-right:120px;
  margin-top:150px;
  position:relative
  


  
  }


.resContainer > a {      /* moshkel dar  hover */
	width: 80px;
	margin: 30px;
	text-align: center;
	font-size: 0.75em;
	font-weight:bold;
	padding-top:85px;
    background-repeat:no-repeat;
	text-decoration:none;
	color:#1F1F1F;
	
}

.resContainer > a:hover
{
	
	box-shadow: 4px 4px 6px  #d6d5d5;    
	}




.foodKind{
	background-color:#f6f9fc;
	position:absolute;
	width:100%;
	height:1000px;	
	}


.kindTextK{
	color:#000;
	font-size:2em;
	position:relative;
	text-align:center;
	margin-top:50px;
	font-weight:bold;
	}


.kindTextW{
	color:#5E5E5E;
	font-size:1.5em;
	position:relative;
	text-align:center;
	margin-top:45px;
	font-weight:bold;
	}




.foodImage {
  display: flex;
  justify-content: center;
	margin-top:100px;
	margin-left:10%;

  
}



.foodImage >div {
  width: 275px;
  height:280px;
	margin: 10px;
  font-size: 30px;	
  position:relative;
	text-align: center;

 
  
}


.foodImagecontent {
	  position:relative;
	  width: 275px;
    height:280px;
	  filter: brightness(60%);
	 
	}
	


.bottom-right {
  position: absolute;
  top:200px;
  right:15px;
  color: white;
  font-size:.7em;
  direction:rtl;
  text-align:right;
  transition-duration: 0.12s;

}

.bottom-right::first-line {   
	font-size:1.25em;
	font-weight:bold;
	}



.bottom-right:hover{
	
	top: 190px;
    transition-duration: 0.1s;
	
 
	}
	
.foodImg:hover .bottom-right{
  
  top: 190px;
  transition-duration: 0.1s;

  }




.kindTextChs{
	color:#000;
	font-size:2.5em;
	position:relative;
	text-align:center;
	margin-top:60px;
	font-weight:bold;
	}
	
	
.kindFoodChs{
	width:80%;
	margin: auto;
   display:flex;
   flex-flow: row wrap;
   justify-content: space-around;
   margin-top:100px;
   direction:rtl;
  
}

.kindFoodChs >a {
	background-color: #fff;
	width: 120px;
	height: 40px;
	margin: 8px;
	text-align: center;
	font-size: 1em;
	font-weight:bold;
	border-radius: 30px;
	line-height: 40px;	
	text-decoration:none;
	color:#000;	
 
}
.kindFoodChs >a:hover {
	-moz-box-shadow: 0 0 8px #727272;
	-webkit-box-shadow: 0 0 8px #727272;
	box-shadow: 0 0 8px #727272;
 
}



.reyhoonphone{
	background-color:yellow;
	position:relative;
	width:100%;
	height:750px;
	margin-top:1000px;
	
	}
	
	
.phoneimageBd{
	position:absolute;
	background-color:white;
	margin-left:20%;
	margin-top:200px;
	width:62%;
	height:420px;

	
	}
.phoneimage{
    display:inline-block;
	position:relative;
	margin-top:-130px;
	margin-left:-220px;
    width:520px;
	height:650px;
	float:left;
	
	}
	
.desbeforeImg{
	position:relative;
	font-size:1em;
	float:right;
	margin-right:20px;
	text-align:right;
     line-height:45px;
	 color:#535353;
	 background-color:red;
	}
	

	
.desbeforeImg::first-line {
	font-size:1.5em;
	color:black;
	font-weight:bold;

	}

.linkFrom{
	position:relative;
	margin-top:400px;
    width:100px;
	height:100px;
	background-color:green;

}


	
.aboutBd{
	
    background-color:#1B1A1A;
	position:absolute;
	width:100%;
	height:600px;
	margin-top:900px;
	
	}
	
.aboutSq{	
   width:48%;
   margin-left:10%;
   display:flex;
   flex-flow: row wrap;
   justify-content: center;
   margin-top:60px;
   direction:rtl;
   	}

.aboutSq>.aboutSqInner{
	width: 160px;
	height: 250px;
	margin: 8px;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	border-top: 5px solid;
	
	}

.aboutSqInner> div{
	font-size:1.2em;
	padding-top:30px;
	padding-bottom:10px;
	color:#E7DFDF;
	font-weight:bold;
    text-align:right;
	}

.aboutSqInner> a{
	font-size: 1em;
	color: #8F8787;
	display: block;
	text-decoration: none;
	text-align: right;
	padding-top: 5px;
	}



.aboutSqInner>a>img{
	width: 130px;
	height:40px;
	border: 1px solid white;
	border-radius:4px;
	}
	
.aboutSqDes{
	display:inline-block;
	width:22%;
	height:150px;
	margin-right:240px;
	margin-top:80px;
	position:relative;
	float:right;
	color: #8F8787;
	direction:rtl;
	line-height:25px;
	font-weight:bold;
	font-size:1em;

	}
	
.aboutSqDes >a{
	color:#8F8787;
	text-decoration:none;
	line-height:40px;
	
	}

	
.sponser{
	width:19%;
	display:flex;
	height:150px;
	margin:auto;
	margin-top:100px;
	position:relative;
	
	}
	
	
.footer{
	background-color:#151515;
	position:absolute;
	width:100%;
	height:160px;
	margin-top:1500px;

	}


.footerIcon{
	 display:flex;
	 width:18%;
	 position:relative;
	 margin:30px;
	 margin-left:100px;
	 justify-content: center;
	 float:left;
	 border:none;
	 background-color:#151515;
	 
	 
	}
	
	
.footerIcon> a{
	width:17%;
	height:25px;
    margin:10px;
	font-family: FontAwesome;
	font-size: 1.5em;
	text-align:center;
	padding-top:10px;
	color:#646161;
	background-color:#151515;
	text-decoration:none;
	
	
	}
	.footerIcon> a:hover{
		text-decoration: none;
		color: #646161;
		
	}

.copyRight{
	position:relative;
	float:right;
	width:15%;
	height:20px;
	margin-right:200px;
	margin-top:50px;
	color:#646161;
	font-size:1em;
	direction: ltr;
	}


/*.pinkbutton:hover {
  background-color: #f1f1f1;

}  */








